@font-face {
  font-family: "iconfont"; /* Project id 3476219 */
  src: url('../font/iconfont.woff2?t=1655733874343') format('woff2'),
       url('../font/iconfont.woff?t=1655733874343') format('woff'),
       url('../font/iconfont.ttf?t=1655733874343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danta:before {
  content: "\e6ba";
}

.icon-jiaozi:before {
  content: "\e6c3";
}

.icon-mantou:before {
  content: "\e6cb";
}

.icon-jiroujuan:before {
  content: "\e6ce";
}

.icon {
  width: 10em;
  height: 10em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}