:root {
    --primary-color: #3baaf4;
    --secondary-color: #2ecc71;
    --background-color: #ffffff;
    --text-color: #333333;
    --a-color:#671ef0;
}

[data-theme="theme-dark"] {
    --primary-color: #2c3e50;
    --secondary-color: #8e44ad;
    --background-color: #34495e;
    --text-color: #ecf0f1;
    --a-color:rgba(96, 163, 240, 0.905);
}